

body {
  font-family: "Lato", "Segoe UI", Helvetica, Arial, sans-serif;
}

#mapContainer{
    width:100%;
    height: 98vh;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease; 
    margin-left: auto;
    margin-right: auto;
}

.close-cross{
  position: absolute;
  top: 0;
  font-weight: bold;
  font-size: 40px;
  width: 16px;
  height: 16px;
  color: white;
  padding: 0;
}

.map-message-close-cross{
  right: 15px;
  
}

.map-message a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  
}

.map-message a:hover {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

.filtersnav {
  height: 75%;
  width: 280px;
  left: -300px;
  position: fixed;
  z-index: 1;
  top: 60px;
  background-color: rgba(17, 17, 17, 0.85);
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  padding-left: 15px;
  padding-top: 30px;
  font-size: 0.85em;
  border-radius: 4px;
}

.filtersnav .close-cross{
  right: 22px;
  top: -5px;
}

.filtersnav a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.filtersnav a:hover {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

.toolsnav {
  height: 75%;
  width: 280px;
  right: -300px;
  position: fixed;
  z-index: 1;
  top: 60px;
  background-color: rgba(17, 17, 17, 0.85);
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  padding-left: 15px;
  padding-top: 30px;
  font-size: 0.85em;
  border-radius: 4px;
}

.toolsnav .close-cross{
  left: 10px;
  top: -5px;
}

.toolsnav a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.toolsnav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.toolsnav button {
    display: block;
    margin: 2px 5px 2px 0;
    padding: 5px;
    min-width: 32px;
    min-height: 32px;
}

.toolsnav .closebtn {
  position: absolute;
  top: 0;
  font-size: 2em;
  margin-left: 0px;
}



.text-input{
  width: 50px;
  height: 10px;
  outline: none;
  opacity: 1;
  display: inline-block;
  position: relative;
  background: #303336;
  border: 1px solid #303336;
  color: #edffff;
  fill: #edffff;
  border-radius: 4px;
  padding: 5px 2px;
  margin: 2px 3px;
  cursor: pointer;
  overflow:visible;
  vertical-align: middle;
}
  

.slider {
  -webkit-appearance: none;
  width: 140px;
  height: 10px;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: inline-block;
  position: relative;
  background: #303336;
  border: 1px solid #303336;
  color: #edffff;
  fill: #edffff;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 2px 0;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #48b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #48b;
  cursor: pointer;
}

/* Toggles */
/* The switch - the box around the toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303336;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  top: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: #48b;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #48b;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded toggles */
.toggle.round {
  border-radius: 20px;
  border: 1px solid #303336;
  
}

.toggle.round:before {
  border-radius: 50%;
}

/*Cluster controls*/
.cluster-controls{
  width: 210px;
  padding: 5px 5px 5px 10px;
  margin: 2px 0 2px 0;
  border: 1px solid #444;
  border-radius: 2px;
}

.entity-cluster-controls span{
  width: 145px;
  display: inline-block;
}

.entity-cluster-controls div{
  padding: 2px 0 2px 0;
}

.entity-cluster-controls .toggle.round{
  vertical-align: middle;
  width: 50px; 
}

.entity-cluster-controls .slider{
  width: 130px;
  vertical-align: middle;
}

.tools-row{
  margin: 0px 0 0 0;
}

.tools-column{
    float: left;
    
}
  
  /* Clear floats after the columns */
.tools-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .toolctrl{
    color: white; 
    font-size: 1em;
  }

  
  .toolctrl-h3{
    color: white; 
    font-size: 1.3em;
  }

  .toolctrl-footer{
    bottom: 0;
    color: white; 
    font-size: 0.9em;
  }

  #vessel-filter-controls div{
    padding: 5px 0 2px 0;
    vertical-align: middle;
  }
  
  #vessel-filter-controls svg{
    vertical-align: middle;
    left: 50px;
    padding-right: 5px;
  }
  
  #vessel-filter-controls span{
    padding: 0px 0 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 60px; 
  }

  #supplementaries div{
    vertical-align: middle;
  }

  #supplementaries span {
    padding: 5px 0 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 150px; 
  }

 #supplementaries .toggle.round{
    vertical-align: middle;
    width: 50px; 
  }

  .apptitle{
    display: block;
    position: absolute;
    top: 5px;
    left: 2px;
    padding: 0 10px 0 0;
    background: #303336;
    border: 2px solid #444;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    border-radius: 5px;
    
    color: white;
  }

.apptitle h1{
   display: inline-block;
   font-size: 1.8em;
  margin: 3px 0 2px 5px;
  
}

.apptitle span{
  display: inline-block;
  font-size: 0.8em;
 padding: 0 0 0 10px;
 
}

#cancel_polling_aircraft{
  margin: 10px 0;
}

.map_statusbar{
  width: 60%;
  float: right;
  margin-right: 50px;
  text-align: right;
  color: black;
  font-size: 0.8em;
}

.map_latlong{
  text-align: left;
  color: black;
  font-size: 0.8em;
  position: absolute;
  right: 3px;
  bottom: 75px;
  min-width: 240px;
  padding: 10px;
 
  background: rgba(128, 128, 128, 0.8);
  border-radius: 5px;
}

.map_height{
  text-align: left;
  color: black;
  font-size: 0.8em;
  position: absolute;
  right: 3px;
  bottom: 35px;
  min-width: 240px;
  padding: 10px;
  background: rgba(128, 128, 128, 0.8);
  border-radius: 5px;
}
