.cesium-viewer {
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cesium-viewer-cesiumWidgetContainer {
    width: 100%;
    height: 100%;
}

.cesium-viewer-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.cesium-viewer-bottom .visible{
    transform: translate(0, 0);
    visibility: visible;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.cesium-viewer-bottom .hidden{
    transform: translate(0, 100%);
    visibility: hidden;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.cesium-viewer-bottom .map-message{
    display: block;
    position: relative;
    bottom: 6px;
    font-size: 0.9em;
    width: 50vw;
    vertical-align: bottom;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(78, 218, 50, 0.7);
    color: rgb(240,240,240);
    border: 1px solid rgb(78, 218, 50);
    border-radius: 5px;
}

.cesium-viewer-bottom .info-message{
    background: rgba(30, 144, 255, 0.7);
    color: rgb(240,240,240);
    border: 1px solid rgb(30, 144, 255);
    
}

.cesium-viewer-bottom .warning-message{
    background: rgba(255, 165, 0, 0.8);
    color: rgb(240,240,240);
    border: 1px solid orange;
}

.cesium-viewer-bottom .danger-message{
    background: rgba(255, 0, 0, 0.7);
    color: rgb(240,240,240);
    border: 1px solid red;
}

.cesium-viewer .cesium-widget-credits {
    display: inline;
    position: fixed;
    bottom: 7px;
    left: 10px;
    padding-right: 5px;
    color: #ffffff;
    font-size: 10px;
    text-shadow: 0 0 2px #000000;
}

.cesium-credit-expand-link{
    position: relative;
    bottom:8px;
}

.cesium-viewer-timelineContainer {
    position: absolute;
    bottom: 0;
    left: 169px;
    right: 29px;
    height: 27px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}

.cesium-viewer-animationContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 169px;
    height: 112px;
}

.cesium-viewer-fullscreenContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 29px;
    height: 29px;
    overflow: hidden;
}

.cesium-viewer-vrContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 29px;
    height: 29px;
    overflow: hidden;
}

.cesium-viewer-toolbar {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

.cesium-viewer-cesiumInspectorContainer {
    display: block;
    position: absolute;
    top: 50px;
    right: 10px;
}

.cesium-viewer-geocoderContainer {
    position: relative;
    display: inline-block;
    margin: 0 3px;
}

.cesium-viewer-cesium3DTilesInspectorContainer {
    display: block;
    position: absolute;
    top: 50px;
    right: 10px;
    max-height: calc(100% - 120px);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
